body{
background-color: 	#E0FFFF
}

.logo{
  display: inline-block; vertical-align: bottom;
object-fit: contain;
}
.abas{
  font-size: 27px;
  font-family: cursive;
background-color: #04bbfc
}
#Booksite{
  background: #00BFFF; font-size: 0,10%; text-align: center; padding: 0,10%;
}

h1{
  text-align: center; color: #C71585;
  font-family: OCR A Std, monospace;
  font-size: 60px; color:#C71585
}
p{
font-size: 27px;
font-family: Comic Sans MS, cursive;
margin-right: 5%
}
.frase{
  border: 5px double #029b99;
  tex
}

#livro{
  margin-left: 1,5%; border: 5px solid #000;
  text-align: justify;
}


img{
width: 250px!important;
height: 300px!important;
}

img {
  display: flex;
}
h2{
border: 10px solid color: black;
font-family: Snell Roundhand, cursive;
font-size: 45px;
text-align: justify;color: #FF00FF;
background-color: #04bbfc
}

.Classicos{
  margin: 3%
}

h3{
  font-family: Snell Roundhand, cursive;
  font-size: 45px;
  text-align: justify;color: #FF00FF;
}
h4{
  font-family: Snell Roundhand, cursive;
  font-size: 45px;
  text-align: justify;color: #FF00FF;
}
